 /* Applying style to entire page. */
 
 body {
     height: 0%;
 }
 
 #bar_graph {
     background-color: whitesmoke;
     position: absolute;
     top: 10%;
     left: 40%;
 }
 
 #bar_graph article {
     display: inline-block;
 }
 
 p {
     padding-left: 20px;
 }
 
 div {
     width: 40px;
     height: 300px;
     margin: 20px;
     background-color: rgb(220, 164, 79);
 }
 /* Declaring animation using keyframe */
 
 @keyframes barplot1 {
     0% {
         height: 100%;
         background-color: white;
     }
     100% {
         height: 70%;
         background-color: white;
     }
 }
 /* Using animation defined by keyframe */
 
 #bar1 {
     width: 100%;
     height: 70%;
     background-color: white;
     animation-name: barplot1;
     animation-duration: 2s;
     animation-iteration-count: 1;
 }
 /* Declaring animation using keyframe */
 
 @keyframes barplot2 {
     0% {
         height: 100%;
         background-color: white;
     }
     100% {
         height: 60%;
         background-color: white;
     }
 }
 /* Using animation defined by keyframe */
 
 #bar2 {
     width: 100%;
     height: 60%;
     background-color: white;
     animation-name: barplot2;
     animation-duration: 2s;
     animation-iteration-count: 1;
 }
 /* Declaring animation using keyframe */
 
 @keyframes barplot3 {
     0% {
         height: 100%;
         background-color: white;
     }
     100% {
         height: 20%;
         background-color: white;
     }
 }
 /* Using animation defined by keyframe */
 
 #bar3 {
     width: 100%;
     height: 20%;
     background-color: white;
     animation-name: barplot3;
     animation-duration: 2s;
     animation-iteration-count: 1;
 }
 /* Declaring animation using keyframe */
 
 @keyframes barplot4 {
     0% {
         height: 100%;
         background-color: white;
     }
     100% {
         height: 40%;
         background-color: white;
     }
 }
 /* Using animation defined by keyframe */
 
 #bar4 {
     width: 100%;
     height: 40%;
     background-color: white;
     animation-name: barplot4;
     animation-duration: 2s;
     animation-iteration-count: 1;
 }